<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<div class="signature">
  <%= user_signed_in? ? @post.user.username : "anonymous"  %>
</div>

<% if user_signed_in? && current_user.id == @post.user_id %>
  <ul>
    <li><%= link_to "Edit", edit_post_path(@post) %></li>
    <li><%= link_to "Delete", post_path(@post), data: {
    turbo_method: :delete, 
    turbo_confirm: "Are you sure you want to delete this post?"}%></li>
<% end %>