<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container">
      <div class="header">
        <%= link_to "Home", root_path %>
      </div>
      <div class="left panel">
        <%= render "user_controls" %>
      </div>
      <div class="center panel">
        <%= yield %>
      </div>
      <div class="right panel">
      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      </div>
    </main>        
  </body>
</html>